# build / cache
dist/
node_modules/
.out/
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vite/
.eslintcache
*.tsbuildinfo

# editors
.vscode/*
.DS_Store

# JetBrains
.idea/*
!.idea/modules.xml
!.idea/*.iml
# локальное и мусор
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests
.idea/shelf