/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*

# IntelliJ IDEA / WebStorm / CLion
.idea/*
!.idea/modules.xml
!.idea/*.iml
!.idea/*.xml
!.idea/codeStyles
!.idea/material_theme_project_new.xml

# Не нужны личные настройки
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests
.idea/shelf